{{>header}}
{{{listar}}}
<br>
{{{listar2 id nombre descripcion valor modalidad intensidad disponible}}}
 <!-- <p> {{{verCurso id nombre descripcion valor modalidad intensidad estado}}}</p> -->
{{>footer}}
